@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-gradient: linear-gradient(
            to bottom,
            #ffffff,
            #6d6d6d,
            #11101d
    );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.home-page{
    color: #D4786E;
    max-width: 100%;
    max-height: 100%;
}
.our_cats-page{
    color: #FCD0D0;
    max-width: 100%;
    max-height: 100%;
}


.banner-text {
    display: block;
    color: #D4786E;
    font-family: "Smooch", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 0;
    line-height: 1.3;
    cursor: pointer;
}

.banner-container {
    position: relative;
    z-index: 3;
    padding: 11px 0;
    background-color: #FCD0D0;
    text-align: center;
}

.banner-text:hover {
   text-decoration: underline;
    text-decoration-color: white;
}

.site-logo {
    color: #fff;
    width: auto;
    height: 250px;
}
.navbar-container{
    position: relative;
    z-index: 3;
    padding: 11px 0;
    background-color: #D4786E;
    text-align: center;
}
.nav_button {
    font-family: "Englebert", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    border: 3.2px solid #FDD691;
    color: #FDD691;
    border-radius: 33px;
    padding: 5px 22px;
}

.nav_button:hover {
    background-color: #FDD691;
    color: #D4786E;
}

.englebert-regular {
    font-family: "Englebert", cursive;
    font-weight: 400;
    font-style: normal;
}

.combo-regular {
    font-family: "Combo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.fredericka-the great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

.farsan-regular {
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
}

.fasthand-regular {
    font-family: "Fasthand", cursive;
    font-weight: 400;
    font-style: normal;
}

.herr-von muellerhoff-regular {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
}

.smooch-regular {
    font-family: "Smooch", cursive;
    font-weight: 400;
    font-style: normal;
}


.train-one-regular {
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.menu-titles {
    font-size: 25px;
}

.menu-titles:hover {
    color: #FDD691;
}

.hero-title1,
.hero-title2,
.hero-title3{
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.hero-container {
    width: 100%;
    position: relative;
    z-index: 0;
    padding-bottom: 230px;
    align-items: center;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 1420px) {
    .hidden-on-smaller {
        display: none;
    }
}
.hero-content {
    max-width: 860px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.hero-title1 {
    font-family: "Smooch", cursive;
    font-size: 80px;
    color: #D4786E;
    margin-top: 60px;
}
.hero-title2{
    font-family: "Train One", system-ui;
    font-size: 58px;
    color: #FCD0D0;
    text-transform: uppercase
}
.hero-title3{
    font-family: "Combo", system-ui;
    font-size: 35px;
    color: #FDD691;
}
.hero-desc{
    font-family: "Combo", system-ui;
    font-size: 25px;
    color: #A28B89;
}

@media (max-width: 991px){
    .hero-content{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (max-width: 480px){
    .hero-content{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.atmosphere_container {
    position: relative;
    z-index: 0;
    background-color: #FCD0D0;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 200px;
}
.atmosphere_title {
    font-family: "Smooch", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-bottom: 20px;
    margin-top: -20px;
}
.gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    padding: 0 12px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -220px;
}
.gallery .pics{
    -webkit-transition: all 350ms;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 30px;
    overflow: hidden;
}
.gallery .pics:hover{
    filter: drop-shadow(8px 8px 10px #3A3A3A);
    transition: 0.6s;
}
@media (max-width: 991px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (max-width: 480px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.view_button {
    font-family: "Englebert", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    border: 3.2px solid #D4786E;
    color: #D4786E;
    border-radius: 33px;
    padding: 5px 22px;
    position: relative;
    top: 25px;
}
.view_button:hover {
    background-color: #D4786E;
    color: #FCD0D0;
}
.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    background-color: white;
    transition: opacity .4s ease, visibility .4s ease, transform;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 100;
}
.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.model img{
    width: auto;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
    border-radius: 100px;
}
.close-button {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Bungee Outline", sans-serif;
    font-weight: bold;
    background-color: #D4786E;
    border-radius: 30%;
    cursor: pointer;
}
.close-button:hover {
    display: inline-block;
    animation: spin 0.6s linear;
}
.close-button:hover span {
    animation: spin 0.6s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}


.left-button,
 .right-button {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #A28B89;
    font-size: 30px;
    font-family: "Bungee Outline", sans-serif;
    font-weight: bold;
    background-color: white;
    border-radius: 30%;
    transition: color 0.6s, background-color 0.6s;
 }

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.left-button:hover,
.right-button:hover {
    color: white;
    background-color: #A28B89;
    animation: pulse 0.6s infinite;
    transition: color 0.6s, background-color 0.6s;
}

.kids-zone_container {
    position: relative;
    z-index: -1;
    background-color: #FDD691;
    text-align: center;
    padding-top: 400px;
}






.cats-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    background-color: #FCD0D0;
}

.cat-card {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cat-name {
    margin-top: 10px;
    font-family: "Englebert", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    border: 5px dotted #fff;
    color: #fff;
    border-radius: 20px;
    padding: 1px 5px;
    cursor: pointer;
    width: 100px;
    transition: 0.6s;
}
.cat-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px dotted #fff;
    cursor: pointer;
    transition: 0.6s;
    position: relative;
}
.cat-image-paw {
    width: 250px;
    height: 250px;
    z-index: 3;
    opacity: 0;
    object-fit: cover;
    border-radius: 50%;
    border: 10px dotted #D4786E;
    cursor: pointer;
    transition: 0.6s;
    position: absolute;
}

.cat-card:hover {
    .cat-name {
        border: 5px dotted #D4786E;
        color: #D4786E;
    }
    .cat-image {
        border: 10px dotted #D4786E;
        color: #D4786E;
    }
    .cat-image-paw {
        opacity: 1;
    }
}



.cat-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 100;
}
.cat-details-modal.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    animation-name: fade;
    animation-duration: 0.6s;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cat-details-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-height: 680px;
    width: 1000px;
    display: flex;
    gap: 40px;
}
.cat-details-name {
    font-family: "Smooch", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #D4786E;
    text-align: center;
    position: relative;
}
.cat-details-modal-images {
    display: inline;
    float: left;
}
.cat-details-bio{
    flex: 1;
}
.cat-profile-image {
    object-fit: cover;
    border-radius: 10px;
    max-height: 500px;
    max-width: 100%;
}
.additional-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.additional-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.text-gradient {
  background: radial-gradient(
          64.18% 64.18% at 71.16% 35.69%,
          #def9fa 0.89%,
          #bef3f5 17.23%,
          #9dedf0 42.04%,
          #7de7eb 55.12%,
          #5ce1e6 71.54%,
          #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
          157.81deg,
          #def9fa -43.27%,
          #bef3f5 -21.24%,
          #9dedf0 12.19%,
          #7de7eb 29.82%,
          #5ce1e6 51.94%,
          #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
          144.39deg,
          #ffffff -278.56%,
          #E09F98 -78.47%,
          #D4786E 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
          -168.39deg,
          #ffffff -278.56%,
          #6d6d6d -78.47%,
          #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
          153.47deg,
          rgba(255, 255, 255, 0) -341.94%,
          #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.absolute-behind {
    position: absolute;
    z-index: -1;
    width: 100%;
}
.absolute-front {
    position: absolute;
    z-index: 1;
    width: 100%;
}


.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.footer{
    font-family: "Englebert", cursive;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    height: 3rem;
    background-color: #D4786E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

}

@media (max-width: 768px) {
    .menu-titles {
        font-size: 16px;
    }
}
